#container {
  text-align: center;
  padding: 2rem 5vw;
}

h1 {
  margin-bottom: 2rem;
}

#main-section {
  display: flex;
  justify-content: space-between;
  gap: 5vw;
}

#editor-section, #preview-section {
  width: 50%;
}

#editor {
  width: 100%;
  height: calc(80vh - 100px);
  resize: none;
}

#preview {
  border: 1px solid black;
  height: calc(80vh - 100px);
  text-align: left;
  padding: 1rem;
  overflow: auto;
}

pre, code {
  background-color: #eee;
  border-radius: 4px;
}

pre {
  padding: 0.5rem;
}

@media screen and (max-width: 900px) {
  #main-section {
    flex-direction: column;
  }

  #editor-section, #preview-section {
    width: 100%;
  }
}