#container {
  text-align: center;
  padding: 2rem 4rem;
}

h1 {
  margin-bottom: 2rem;
}

#main-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#editor-section, #preview-section {
  width: 50%;
}

#editor {
  width: 100%;
  height: 400px;
}

#preview {
  border: 1px solid black;
  height: 400px;
}